.homePage {
    background-color: #d6d2d2;
    padding: 20px;
}
.sliderContainer {
    margin-bottom: 20px;
}
  
.offersSection {
    margin-bottom: 40px;
}
  
.bestSellersSection {
    margin-bottom: 40px;
}
  
.customerReviewsSection {
    margin-bottom: 100px;

}
  
  